<!DOCTYPE html>
<html>
  <head>
    <title>FLACK</title>
  </head>
  <body>
    {% extends "base.html" %} {% block content %}
    <div class="container">
      <div class="fill d-flex justify-content-center align-items-center">
        <div>
          <h2 class="text-center">Welcome to Flack</h2>
          <form method="POST" action="/intro">
            <div class="form-group">
              <input
                type="text"
                class="form-control"
                name="username"
                aria-describedby="username"
                placeholder="Username"
              />
            </div>
            <div class="form-group">
              <input
                type="submit"
                class="form-control"
                id="submit"
                aria-describedby="username"
                value="Enter"
              />
            </div>
          </form>
        </div>
      </div>
    </div>
    {% endblock %}
  </body>
</html>
